body, html{
  height:100%;
}
body {
  background: url("https://images.unsplash.com/photo-1532452119098-a3650b3c46d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46189421fffa759faf937fb71d65ce6e&auto=format&fit=crop&w=750&q=80");
  /* background-size: 100% 100%; */
  background-size: cover;

  margin: 0px;

  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 99;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@keyframes loopingGrow {
  from {
    transform: scale(1.0)
  }
  to {
    transform: scale(2.0);
  }
}

@keyframes loopingColor {
  from {
    border:10px solid red;
  }
  to {
    border:10px solid blue;
  }
}

.lineUp {
  display: inline-block;
  margin: 30px;
  top: 50%;
}

.background {
  height: 100%;
  width: 100%;
}