body, html{
  height:100%;
}
body {
  background: url('pacman background epic.png');
  /* background-size: 100% 100%; */
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.dancer{
  border:10px solid white;
  border-radius:10px;
  position:absolute;
}
.ghosts {
  position: absolute;
}

@keyframes loopingGrow {
  from {
    transform: scale(1.0)
  }
  to {
    transform: scale(2.0);
  }
}

@keyframes loopingColor {
  from {
    border:10px solid white;
  }
  to {
    border:10px solid yellow;
  }
}


.background {
  height: 100%;
  width: 100%;
}

.container{
  z-index: 100;
}

#pacMan{
  cursor: url("https://vignette.wikia.nocookie.net/panama-test/images/5/5f/Pacman.gif/revision/latest?cb=20160405015526"), default;
  transform: scale(0.4);
  position: absolute;
  float: left;
}

.score{
  margin: 10px;
  padding: 5px;
}
